flows_json_all.txt
[{"id":"8ccc64ca.8b4968","type":"tab","label":"START MAP","disabled":false,"info":""},{"id":"e34f53fd.bd0cf","type":"tab","label":"Call center","disabled":false,"info":""},{"id":"3ef10f54.aa527","type":"tab","label":"Fake news monitor","disabled":false,"info":""},{"id":"15f92fa2.4c463","type":"tab","label":"Logistics decision","disabled":false,"info":""},{"id":"6dc7d4cd.6ff95c","type":"tab","label":"D3 Display","disabled":false,"info":""},{"id":"f8d3ba83.5a9de8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#00ff00","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#00ff00","edited":true},"page-titlebar-backgroundColor":{"value":"#00ff00","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#4dff4d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#00ff00","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Future Forecast","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ca6489c5.386578","type":"twitter-credentials","z":"","screen_name":"Logis_deter"},{"id":"3e161d3e.17b912","type":"ui_group","z":"","name":"Compare  Emotion analysis","tab":"162a481d.9ba9e8","disp":true,"width":"27","collapse":false},{"id":"2664b30d.58527c","type":"ui_group","z":"","name":"text","tab":"adec973b.96fb78","disp":true,"width":"27","collapse":false},{"id":"162a481d.9ba9e8","type":"ui_tab","z":0,"name":"Real time","icon":"dashboard","disabled":false,"hidden":false},{"id":"adec973b.96fb78","type":"ui_tab","z":"","name":"Twitter-text","icon":"dashboard","disabled":false,"hidden":false},{"id":"c9ccf3c0.7e63d","type":"ui_group","z":"","name":"data1","tab":"546ce0eb.f54bc","disp":true,"width":"6","collapse":false},{"id":"943961a2.719b5","type":"ui_group","z":"","name":"data2","tab":"546ce0eb.f54bc","disp":true,"width":"6","collapse":false},{"id":"b5f14dd0.53f18","type":"ui_group","z":"","name":"All","tab":"546ce0eb.f54bc","disp":true,"width":"6","collapse":false},{"id":"546ce0eb.f54bc","type":"ui_tab","z":"","name":"Twitter Daily analysis","icon":"dashboard","disabled":false,"hidden":false},{"id":"7fd3e930.8096a8","type":"ui_group","z":"","name":"Information integration","tab":"9abf729e.6e748","disp":true,"width":"6","collapse":false},{"id":"9abf729e.6e748","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"38d3cad5.4ab6b6","type":"twilio-api","z":"","sid":"ACc25c81b3506df8830a32f65b07cf2b87","from":"+16042278447","name":"SMS"},{"id":"6d45933f.dcd23c","type":"http in","z":"6dc7d4cd.6ff95c","name":"","url":"/twittersentiments","method":"get","swaggerDoc":"","x":120,"y":100,"wires":[["91ca0ff5.8298e"]]},{"id":"b0230884.d38ca8","type":"http response","z":"6dc7d4cd.6ff95c","name":"","x":735.5,"y":103,"wires":[]},{"id":"4afc812f.e9eb9","type":"twitter in","z":"6dc7d4cd.6ff95c","twitter":"ca6489c5.386578","tags":"#DAZN","user":"false","name":"","inputs":0,"x":64,"y":211,"wires":[["35a1ee00.6fe882"]]},{"id":"b6107299.e8fc2","type":"cloudant out","z":"6dc7d4cd.6ff95c","name":"","cloudant":"","database":"d3display","service":"Futureforcast-AI002-cloudantNoSQLDB","payonly":false,"operation":"insert","x":518.5,"y":206,"wires":[]},{"id":"ac910aa1.4e7d88","type":"template","z":"6dc7d4cd.6ff95c","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Title</title>\n    <style>\n        {{{payload.style}}}\n    </style>\n    <script src=\"https://d3js.org/d3.v3.min.js\"></script>\n\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js\"></script>\n    <!-- Latest compiled and minified CSS -->\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n\n    <!-- Optional theme -->\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css\" integrity=\"sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp\" crossorigin=\"anonymous\">\n\n    <!-- Latest compiled and minified JavaScript -->\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\" crossorigin=\"anonymous\"></script>\n</head>\n<body>\n    <header class=\"text-center\">\n        <h1>Twitter Sentiments</h1>\n        <h2>Sentiments on Users Post</h2>\n    </header>\n<div class=\"row\">\n<div class=\"col-md-12\">\n    <p id=\"test\" style=\"display: none;\">{{{payload.final_result}}}</p>\n<script>\nvar url  = window.location.host\n{{{ payload.script }}}\nd3Function()\n</script>\n</div>\n</div>\n</body>\n</html>","x":596.5,"y":102,"wires":[["b0230884.d38ca8"]]},{"id":"c7d101ba.d918d","type":"template","z":"6dc7d4cd.6ff95c","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":".node {\n    cursor: pointer;\n}\n\n.node circle {\n    fill: #fff;\n    stroke: steelblue;\n    stroke-width: 1.5px;\n}\n\n.node text {\n    font: 10px sans-serif;\n}\n\n.link {\n    fill: none;\n    stroke: #ccc;\n    stroke-width: 1.5px;\n}\n\nheader{\n    background-color: #1d1e1f;\n    color: white;\n    min-height: 200px;\n    padding-top: 50px;\n}\n","x":460.35711669921875,"y":99.28571319580078,"wires":[["ac910aa1.4e7d88"]]},{"id":"91ca0ff5.8298e","type":"template","z":"6dc7d4cd.6ff95c","name":"JS","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var d3Function = function d3Function() {\n\n        var margin = {top: 20, right: 120, bottom: 20, left: 120},\n            width = 960 - margin.right - margin.left,\n            height = 800 - margin.top - margin.bottom;\n\n        var i = 0,\n            duration = 750,\n            root;\n\n        var tree = d3.layout.tree()\n            .size([height, width]);\n\n        var diagonal = d3.svg.diagonal()\n            .projection(function (d) {\n                return [d.y, d.x];\n            });\n\n        var svg = d3.select(\"body\").append(\"svg\")\n            .attr(\"width\", width + margin.right + margin.left)\n            .attr(\"height\", height + margin.top + margin.bottom)\n            .append(\"g\")\n            .attr(\"transform\", \"translate(\" + margin.left + \",\" + margin.top + \")\");\n\n        // root = final_result;\n        // root.x0 = height / 2;\n        // root.y0 = 0;\n\n        // function collapse(d) {\n        //     if (d.children) {\n        //         d._children = d.children;\n        //         d._children.forEach(collapse);\n        //         d.children = null;\n        //     }\n        // }\n\n        // root.children.forEach(collapse);\n        // update(root, tree);\n        \n        d3.json(\"https://\"+url+\"/sentiments\", function(error, flare) {\n            if (error) throw error;\n\n            root = flare;\n            root.x0 = height / 2;\n            root.y0 = 0;\n\n            function collapse(d) {\n                if (d.children) {\n                    d._children = d.children;\n                    d._children.forEach(collapse);\n                    d.children = null;\n                }\n            }\n\n            root.children.forEach(collapse);\n            update(root);\n        });\n        \n        d3.select(self.frameElement).style(\"height\", \"800px\");\n\n        function update(source) {\n\n            // Compute the new tree layout.\n            var nodes = tree.nodes(root).reverse(),\n                links = tree.links(nodes);\n\n            // Normalize for fixed-depth.\n            nodes.forEach(function(d) { d.y = d.depth * 180; });\n\n            // Update the nodes…\n            var node = svg.selectAll(\"g.node\")\n                .data(nodes, function(d) { return d.id || (d.id = ++i); });\n\n            // Enter any new nodes at the parent's previous position.\n            var nodeEnter = node.enter().append(\"g\")\n                .attr(\"class\", \"node\")\n                .attr(\"transform\", function(d) { return \"translate(\" + source.y0 + \",\" + source.x0 + \")\"; })\n                .on(\"click\", click);\n\n            nodeEnter.append(\"circle\")\n                .attr(\"r\", 1e-6)\n                .style(\"fill\", function(d) { return d._children ? \"lightsteelblue\" : \"#fff\"; });\n\n            nodeEnter.append(\"text\")\n                .attr(\"x\", function(d) { return d.children || d._children ? -10 : 10; })\n                .attr(\"dy\", \".35em\")\n                .attr(\"text-anchor\", function(d) { return d.children || d._children ? \"end\" : \"start\"; })\n                .text(function(d) { return d.name; })\n                .style(\"fill-opacity\", 1e-6);\n\n            // Transition nodes to their new position.\n            var nodeUpdate = node.transition()\n                .duration(duration)\n                .attr(\"transform\", function(d) { return \"translate(\" + d.y + \",\" + d.x + \")\"; });\n\n            nodeUpdate.select(\"circle\")\n                .attr(\"r\", 4.5)\n                .style(\"fill\", function(d) { return d._children ? \"lightsteelblue\" : \"#fff\"; });\n\n            nodeUpdate.select(\"text\")\n                .style(\"fill-opacity\", 1);\n\n            // Transition exiting nodes to the parent's new position.\n            var nodeExit = node.exit().transition()\n                .duration(duration)\n                .attr(\"transform\", function(d) { return \"translate(\" + source.y + \",\" + source.x + \")\"; })\n                .remove();\n\n            nodeExit.select(\"circle\")\n                .attr(\"r\", 1e-6);\n\n            nodeExit.select(\"text\")\n                .style(\"fill-opacity\", 1e-6);\n\n            // Update the links…\n            var link = svg.selectAll(\"path.link\")\n                .data(links, function(d) { return d.target.id; });\n\n            // Enter any new links at the parent's previous position.\n            link.enter().insert(\"path\", \"g\")\n                .attr(\"class\", \"link\")\n                .attr(\"d\", function(d) {\n                    var o = {x: source.x0, y: source.y0};\n                    return diagonal({source: o, target: o});\n                });\n\n            // Transition links to their new position.\n            link.transition()\n                .duration(duration)\n                .attr(\"d\", diagonal);\n\n            // Transition exiting nodes to the parent's new position.\n            link.exit().transition()\n                .duration(duration)\n                .attr(\"d\", function(d) {\n                    var o = {x: source.x, y: source.y};\n                    return diagonal({source: o, target: o});\n                })\n                .remove();\n\n            // Stash the old positions for transition.\n            nodes.forEach(function(d) {\n                d.x0 = d.x;\n                d.y0 = d.y;\n            });\n        }\n\n\n        // Toggle children on click.\n        function click(d) {\n            if (d.children) {\n                d._children = d.children;\n                d.children = null;\n            } else {\n                d.children = d._children;\n                d._children = null;\n            }\n            update(d);\n        }\n};\n// d3Function();","x":307.21429443359375,"y":99.57142639160156,"wires":[["c7d101ba.d918d"]]},{"id":"1b88389c.0ab3b7","type":"http in","z":"6dc7d4cd.6ff95c","name":"","url":"/sentiments","method":"get","swaggerDoc":"","x":89.42857360839844,"y":307.4285888671875,"wires":[["5bc1cba3.abb204"]]},{"id":"5bc1cba3.abb204","type":"cloudant in","z":"6dc7d4cd.6ff95c","name":"","cloudant":"","database":"d3display","service":"Futureforcast-AI002-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":303.4999694824219,"y":305.5714416503906,"wires":[["230735f2.cbf95a"]]},{"id":"230735f2.cbf95a","type":"function","z":"6dc7d4cd.6ff95c","name":"Convert","func":"var new_result = msg.payload;\nvar final_result = {};\nvar positive_sentiment = {};\nvar negative_sentiment = {};\npositive_sentiment[\"name\"] = \"Positive\";\nnegative_sentiment[\"name\"] = \"Negative\";\npositive_sentiment[\"children\"] = [];\nnegative_sentiment[\"children\"] = [];\nfor (var i in new_result) {\n    p_sentiment = new_result[i][\"sentiment\"][\"positive\"];\n    n_sentiment = new_result[i][\"sentiment\"][\"negative\"];\n\n    if (p_sentiment.length > 0){\n        user_sent_list = [];\n        user_sent = {};\n        user_sent[\"name\"] = new_result[i][\"topic\"];\n        user_sent[\"children\"] = [];\n        for (var value in p_sentiment) {\n            children = {};\n            children[\"name\"] = p_sentiment[value];\n            user_sent[\"children\"].push(children)\n        }\n        positive_sentiment[\"children\"].push(user_sent)\n    }\n\n\n    if (n_sentiment.length > 0) {\n        user_sent_list = [];\n        user_sent = {};\n        user_sent[\"name\"] = new_result[i][\"topic\"];\n        user_sent[\"children\"] = [];\n        for (value in n_sentiment) {\n            children = {};\n            children[\"name\"] = n_sentiment[value];\n            user_sent[\"children\"].push(children)\n        }\n        negative_sentiment[\"children\"].push(user_sent)\n    }\n}\n\nfinal_result[\"name\"] = \"Twitter Sentiments\";\nfinal_result[\"children\"] = [];\nfinal_result[\"children\"].push(positive_sentiment);\nfinal_result[\"children\"].push(negative_sentiment);\n\nmsg.payload = final_result\n\nreturn msg;","outputs":1,"noerr":0,"x":495.357177734375,"y":305.857177734375,"wires":[["e9747836.da0218"]]},{"id":"e9747836.da0218","type":"http response","z":"6dc7d4cd.6ff95c","name":"","x":667.0714721679688,"y":306.5714111328125,"wires":[]},{"id":"35a1ee00.6fe882","type":"delay","z":"6dc7d4cd.6ff95c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":206.5,"y":162,"wires":[["8941beaf.ee24c"]]},{"id":"4c69b5f0.12044c","type":"twitter in","z":"3ef10f54.aa527","twitter":"ca6489c5.386578","tags":"","user":"false","name":"","inputs":1,"x":557.4166717529297,"y":132.5208339691162,"wires":[["8ee64fab.a587e"]]},{"id":"8c69a6dc.4d8008","type":"function","z":"3ef10f54.aa527","name":"term1","func":"msg.term=\"term1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1073.7501068115234,"y":138.5208282470703,"wires":[["e4a2f2eb.1ec21"]]},{"id":"3d93c1fb.e9d20e","type":"inject","z":"3ef10f54.aa527","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":105.24995422363281,"y":690.6876373291016,"wires":[["ec1b57f.68539a8","29b7e836.a15248","6eddb4ff.9f027c"]]},{"id":"ec1b57f.68539a8","type":"function","z":"3ef10f54.aa527","name":"draw Term1 chart","func":"var term = global.get(\"term1\");\nif(typeof term !==\"undefined\"){\n    msg.payload = global.get(\"meanSentiment\"+term);\n    msg.topic = term;\n    return msg;\n}","outputs":1,"noerr":0,"x":494.2499542236328,"y":563.6876373291016,"wires":[["f3d92e7e.fdfa7","50c90680.202908","7de6c03a.f5ceb","52484d0b.69d934","aaf0f660.81d2f8","901323f2.a5126","1ab2e078.46b3c"]]},{"id":"29b7e836.a15248","type":"function","z":"3ef10f54.aa527","name":"draw Term2 chart","func":"var term = global.get(\"term2\");\nif(typeof term !==\"undefined\"){\n    msg.payload = global.get(\"meanSentiment\"+term);\n    msg.topic = term;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":490.2499542236328,"y":685.6876373291016,"wires":[["f3d92e7e.fdfa7","ca2fdca3.03d91","d818e5ef.94e548","b1116076.d209b"]]},{"id":"5cf502f7.a9a30c","type":"twitter in","z":"3ef10f54.aa527","twitter":"ca6489c5.386578","tags":"","user":"false","name":"","inputs":1,"x":546.4166793823242,"y":287.52084732055664,"wires":[["84d220c9.d27ef"]]},{"id":"7895241c.3753ac","type":"function","z":"3ef10f54.aa527","name":"preprocess","func":"msg.term = msg.payload;\nvar term = msg.term.replace(\" \",\"_\").replace(/[\"']/g, \"\");\nnode.log(\"term is\"+term);\nglobal.set(\"term1\",term);\nreturn msg;","outputs":1,"noerr":0,"x":324.4166717529297,"y":134.52083587646484,"wires":[["2c0f22c9.15742e"]]},{"id":"67395887.4b9f28","type":"function","z":"3ef10f54.aa527","name":"preprocess","func":"msg.term = msg.payload;\nvar term = msg.term.replace(\" \",\"_\").replace(/[\"']/g, \"\");\nglobal.set(\"term2\",term);\nreturn msg;","outputs":1,"noerr":0,"x":319.4166717529297,"y":280.52083587646484,"wires":[["989750f1.33343"]]},{"id":"766214d4.266cec","type":"function","z":"3ef10f54.aa527","name":"term2","func":"msg.term=\"term2\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1076.749984741211,"y":285.18748474121094,"wires":[["e4a2f2eb.1ec21"]]},{"id":"6eddb4ff.9f027c","type":"function","z":"3ef10f54.aa527","name":"print sample table","func":"function createTable(top10_1,flop10_1,top10_2,flop10_2){\n    \n    var table = \"<table style=\\\"width:100%;font-size:20px;\\\">\";\n    table+=\"<tr><th>Rank</th><th>Tweet</th><th>Score</th></tr>\";\n    \n    if(typeof top10_1!==\"undefined\"){\n        for(var i=0;i<top10_1.length;i++){\n            table+=\"<tr><td>\"+(i+1)+\"</td><td>\"+top10_1[i].text+\"</td><th>\"+top10_1[i].score+\"</td></tr>\";\n        }\n    }\n    table+=\"</table>\";\n    \n    table+=\"<p><br><br><table style=\\\"width:100%;font-size:20px;\\\">\";\n    table+=\"<tr><th>Rank</th><th>Tweet</th><th>Score</th></tr>\";\n    \n    if(typeof flop10_1!==\"undefined\"){\n        for(var n=0;n<flop10_1.length;n++){\n            table+=\"<tr><td>\"+(n+1)+\"</td><td>\"+flop10_1[n].text+\"</td><th>\"+flop10_1[n].score+\"</td></tr>\";\n        }\n    }\n    table+=\"</table>\";\n    \n    table+= \"<p><br><br><table style=\\\"width:100%;font-size:20px;\\\">\";\n    table+=\"<tr><th>Rank</th><th>Tweet</th><th>Score</th></tr>\";\n    if(typeof top10_2!==\"undefined\"){\n        for(var l=0;l<top10_2.length;l++){\n            table+=\"<tr><td>\"+(l+1)+\"</td><td>\"+top10_2[l].text+\"</td><th>\"+top10_2[l].score+\"</td></tr>\";\n        }\n    }\n    table+=\"</table>\";\n    \n    table+=\"<p><br><br><table style=\\\"width:100%;font-size:20px\\\">\";\n    table+=\"<tr><th>Rank</th><th>Tweet</th><th>Score</th></tr>\";\n    \n    if(typeof flop10_2!==\"undefined\"){\n        for(var k=0;k<flop10_2.length;k++){\n            table+=\"<tr><td>\"+(k+1)+\"</td><td>\"+flop10_2[k].text+\"</td><th>\"+flop10_2[k].score+\"</td></tr>\";\n        }\n    }\n    table+=\"</table>\";\n    \n    return table;\n}\nvar term1 = global.get(\"term1\");\nvar term2 = global.get(\"term2\");\nmsg.payload = createTable(global.get(\"top10\"+term1), global.get(\"flop10\"+term1),global.get(\"top10\"+term2), global.get(\"flop10\"+term2));\nreturn msg;","outputs":1,"noerr":0,"x":492.16648864746094,"y":770.6876373291016,"wires":[["41d156ce.987db8","f23a728d.527b4"]]},{"id":"b08e1750.b2e858","type":"inject","z":"3ef10f54.aa527","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":115.36106872558594,"y":878.1320699055989,"wires":[["3a2dafc9.c2991"]]},{"id":"3a2dafc9.c2991","type":"function","z":"3ef10f54.aa527","name":"global functions","func":"function update10Function(){\n    return ((compare, name, msg)=>{\n        var ten = global.get(name);\n        if(typeof ten===\"undefined\"){\n            ten = [];\n            ten.push({\n                \"text\":msg.tweet.text,\n                \"score\":msg.sentiment.score\n            });\n            global.set(name,ten);\n            //node.log(JSON.stringify(ten));\n        }\n        else{\n            if(containsAlready(msg.tweet.text,ten)){\n                return;\n            }\n            var added = false;\n            //node.log(\"start defined: \"+JSON.stringify(ten));\n            for(var i=0;i<ten.length;i++){\n                if(compare(msg.sentiment.score,ten[i].score)){\n                    var entry = {\n                        \"text\":msg.tweet.text,\n                        \"score\":msg.sentiment.score\n                    };\n                    ten.splice(i, 0, entry);\n                    added=true;\n                    break;\n                }\n            }\n            if(added===false && ten.length<10){\n                ten.push({\n                    \"text\":msg.tweet.text,\n                    \"score\":msg.sentiment.score\n                });\n            }\n            ten.splice(10,ten.length-10);\n            node.log(\"end\"+JSON.stringify(ten));\n        }\n    });\n}\n\nfunction containsAlready(tweet, ten){\n    var prefix = tweet.substring(0,tweet.length/2);\n    return ten.map(e=>e.text).filter(e=>e.indexOf(prefix)>-1).length>0\n}\nglobal.set(\"update10\",update10Function());\nreturn msg;","outputs":1,"noerr":0,"x":345.36106872558594,"y":880.3820953369141,"wires":[[]]},{"id":"45fc619f.793c5","type":"inject","z":"3ef10f54.aa527","name":"","topic":"","payload":"earthquake","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":75,"y":82.48751831054688,"wires":[["7895241c.3753ac","8d70f727.97ab38"]]},{"id":"d4df6956.485288","type":"inject","z":"3ef10f54.aa527","name":"","topic":"","payload":"tokyo","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":58.74998474121094,"y":334.35418701171875,"wires":[["67395887.4b9f28","aa4c95da.060278"]]},{"id":"e4a2f2eb.1ec21","type":"function","z":"3ef10f54.aa527","name":"calculate average sentiment","func":"var term = global.get(msg.term);\nvar sampleSize = 10;\nvar sentiments = global.get(\"sentiments\"+term);\nif(typeof sentiments ===\"undefined\"){\n    sentiments =[];\n    global.set(\"sentiments\"+term,sentiments);\n}\nsentiments.push(msg.sentiment.score);\n\nif(sentiments.length>sampleSize){\n    sentiments.splice(0,sentiments.length-sampleSize);\n}\n\nvar sum = sentiments.reduce((e,r)=>e+r);\nglobal.set(\"meanSentiment\"+term,sum/sentiments.length);\n\nglobal.get(\"update10\")(((a,b)=>a>b),\"top10\"+term, msg);\nglobal.get(\"update10\")(((a,b)=>a<b),\"flop10\"+term, msg);\n\nmsg.payload = msg.sentiment.score;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1253.033432006836,"y":208.8374481201172,"wires":[[]]},{"id":"a2275925.138dd8","type":"comment","z":"3ef10f54.aa527","name":"global functions","info":"","x":112.08329010009766,"y":828.1668281555176,"wires":[]},{"id":"35e3e2e7.96f09e","type":"comment","z":"3ef10f54.aa527","name":"Graph","info":"","x":58.333282470703125,"y":619.4168243408203,"wires":[]},{"id":"6e9fb7f3.47eff8","type":"comment","z":"3ef10f54.aa527","name":"Fake news monitor","info":"","x":95,"y":34,"wires":[]},{"id":"8ee64fab.a587e","type":"function","z":"3ef10f54.aa527","name":"filter","func":"var term = global.get(\"term1\");\nif(msg.payload.indexOf(term)!==-1 && msg.lang===\"en\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":599.5833587646484,"y":74.18753051757812,"wires":[["1b487b81.ffc844"]]},{"id":"84d220c9.d27ef","type":"function","z":"3ef10f54.aa527","name":"filter","func":"var term = global.get(\"term2\");\nif(msg.payload.indexOf(term)!==-1 && msg.lang===\"en\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":584.8333587646484,"y":369.8542022705078,"wires":[["5db5917f.7c316"]]},{"id":"ccfde78d.c61db8","type":"debug","z":"3ef10f54.aa527","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","x":907.9048919677734,"y":211.3541717529297,"wires":[]},{"id":"2c0f22c9.15742e","type":"delay","z":"3ef10f54.aa527","name":"","pauseType":"rate","timeout":"12","timeoutUnits":"minutes","rate":"6","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":572,"y":189,"wires":[["4c69b5f0.12044c"]]},{"id":"989750f1.33343","type":"delay","z":"3ef10f54.aa527","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":569,"y":232,"wires":[["5cf502f7.a9a30c"]]},{"id":"f23a728d.527b4","type":"debug","z":"3ef10f54.aa527","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":925,"wires":[]},{"id":"b4aee3bc.533a7","type":"ui_button","z":"3ef10f54.aa527","name":"","group":"3e161d3e.17b912","order":2,"width":0,"height":0,"passthru":false,"label":"clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":453.24989318847656,"y":625.6876373291016,"wires":[["f3d92e7e.fdfa7"]]},{"id":"aa4c95da.060278","type":"ui_text_input","z":"3ef10f54.aa527","name":"","label":"Data2","tooltip":"","group":"3e161d3e.17b912","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":"1000","topic":"","x":153.9166717529297,"y":239.27085876464844,"wires":[["67395887.4b9f28"]]},{"id":"8d70f727.97ab38","type":"ui_text_input","z":"3ef10f54.aa527","name":"","label":"Data1","tooltip":"","group":"3e161d3e.17b912","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"1000","topic":"","x":152.9166717529297,"y":164.5208282470703,"wires":[["7895241c.3753ac"]]},{"id":"41d156ce.987db8","type":"ui_text","z":"3ef10f54.aa527","group":"2664b30d.58527c","order":0,"width":"24","height":"22","name":"","label":"Best worst 10","format":"{{msg.payload}}","layout":"row-left","x":603.2499389648438,"y":868.6876220703125,"wires":[]},{"id":"f3d92e7e.fdfa7","type":"ui_chart","z":"3ef10f54.aa527","name":"","group":"3e161d3e.17b912","order":0,"width":"27","height":"9","label":" Emotion analysis Scores","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-4","ymax":"4","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":743.91650390625,"y":637.3543090820312,"wires":[[]]},{"id":"8941beaf.ee24c","type":"sentiment","z":"6dc7d4cd.6ff95c","name":"","property":"payload","x":361.5,"y":217,"wires":[["b6107299.e8fc2"]]},{"id":"50c90680.202908","type":"ui_text","z":"3ef10f54.aa527","group":"c9ccf3c0.7e63d","order":0,"width":0,"height":0,"name":"","label":"data1","format":"{{msg.payload}}","layout":"row-spread","x":809,"y":423,"wires":[]},{"id":"ca2fdca3.03d91","type":"ui_text","z":"3ef10f54.aa527","group":"943961a2.719b5","order":0,"width":0,"height":0,"name":"","label":"data2","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":710.7999877929688,"wires":[]},{"id":"aaf0f660.81d2f8","type":"ui_text","z":"3ef10f54.aa527","group":"b5f14dd0.53f18","order":0,"width":0,"height":0,"name":"","label":"All","format":"{{msg.payload}}","layout":"row-left","x":1041,"y":555.7999877929688,"wires":[]},{"id":"7de6c03a.f5ceb","type":"ui_gauge","z":"3ef10f54.aa527","name":"","group":"c9ccf3c0.7e63d","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"35","x":843,"y":465.89996337890625,"wires":[]},{"id":"52484d0b.69d934","type":"ui_chart","z":"3ef10f54.aa527","name":"","group":"c9ccf3c0.7e63d","order":0,"width":0,"height":0,"label":"Bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":899,"y":508.39996337890625,"wires":[[]]},{"id":"d818e5ef.94e548","type":"ui_gauge","z":"3ef10f54.aa527","name":"","group":"943961a2.719b5","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"70","x":751,"y":752.8999633789062,"wires":[]},{"id":"b1116076.d209b","type":"ui_chart","z":"3ef10f54.aa527","name":"","group":"943961a2.719b5","order":0,"width":0,"height":0,"label":"Bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":798,"y":793.4000244140625,"wires":[[]]},{"id":"901323f2.a5126","type":"ui_gauge","z":"3ef10f54.aa527","name":"","group":"b5f14dd0.53f18","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"35","x":1067,"y":599.8999633789062,"wires":[]},{"id":"1ab2e078.46b3c","type":"ui_chart","z":"3ef10f54.aa527","name":"","group":"b5f14dd0.53f18","order":0,"width":0,"height":0,"label":"Bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1115,"y":646.4000244140625,"wires":[[]]},{"id":"1b487b81.ffc844","type":"sentiment","z":"3ef10f54.aa527","name":"","property":"payload","x":766.5,"y":104,"wires":[["8c69a6dc.4d8008","ccfde78d.c61db8"]]},{"id":"5db5917f.7c316","type":"sentiment","z":"3ef10f54.aa527","name":"","property":"payload","x":744.5,"y":295,"wires":[["ccfde78d.c61db8","766214d4.266cec"]]},{"id":"25bbfa64.390cc6","type":"change","z":"8ccc64ca.8b4968","name":"Add your Google API key here","rules":[{"t":"set","p":"key","pt":"msg","to":"AIzaSyAtgX2UBKM25Vn3Cgv8KKRVOxGEcpBIPs4","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"tweet","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210.33335876464844,"y":205.4166669845581,"wires":[["534eabbc.f541f4"]]},{"id":"534eabbc.f541f4","type":"http request","z":"8ccc64ca.8b4968","name":"Google Geocode Request","method":"GET","ret":"obj","paytoqs":false,"url":"https://maps.googleapis.com/maps/api/geocode/json?address={{{location.place}}},+CA&key={{{key}}}&format=json","tls":"","proxy":"","authType":"","x":245.33335876464844,"y":256.4166669845581,"wires":[["a33f3fab.f16af"]]},{"id":"a33f3fab.f16af","type":"change","z":"8ccc64ca.8b4968","name":"Payload for sentiment","rules":[{"t":"set","p":"store.lat","pt":"msg","to":"payload.results[0].geometry.location.lat","tot":"msg"},{"t":"set","p":"store.lon","pt":"msg","to":"payload.results[0].geometry.location.lng","tot":"msg"},{"t":"set","p":"store.place","pt":"msg","to":"location.place","tot":"msg"},{"t":"set","p":"store.name","pt":"msg","to":"tweet.id_str","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"},{"t":"set","p":"store.sender","pt":"msg","to":"tweet.user.screen_name","tot":"msg"},{"t":"set","p":"store.photoUrl","pt":"msg","to":"tweet.user.profile_image_url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":279.83335876464844,"y":306.6666669845581,"wires":[["51aad744.64cba8"]]},{"id":"51aad744.64cba8","type":"sentiment","z":"8ccc64ca.8b4968","name":"","x":376.33335876464844,"y":351.1666669845581,"wires":[["a2a308a0.ca8f18"]]},{"id":"a2a308a0.ca8f18","type":"change","z":"8ccc64ca.8b4968","name":"Create payload for map","rules":[{"t":"set","p":"store.text","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"store.sentiment","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"store","tot":"msg"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-twitter-square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":431.83335876464844,"y":405.6666669845581,"wires":[["aa81df17.c361f","8f3ab230.b592f"]]},{"id":"839436e1.b78d18","type":"debug","z":"8ccc64ca.8b4968","name":"Payload","active":true,"console":"false","complete":"payload","x":726.8333587646484,"y":632.4791669845581,"wires":[]},{"id":"aa81df17.c361f","type":"switch","z":"8ccc64ca.8b4968","name":"Sentiment colour","property":"payload.sentiment","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","outputs":3,"x":506.09703063964844,"y":475.9166669845581,"wires":[["19ea8942.b406b7"],["138df276.1c904e"],["78d7d8e5.e875e8"]],"inputLabels":["sentiment"],"outputLabels":["neutral","postive",""]},{"id":"138df276.1c904e","type":"change","z":"8ccc64ca.8b4968","name":"Set to yellow","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730.5970306396484,"y":478.6666669845581,"wires":[["d74dd9d7.3fc548","839436e1.b78d18"]]},{"id":"19ea8942.b406b7","type":"change","z":"8ccc64ca.8b4968","name":"Set to green","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":737.2220306396484,"y":433.2291669845581,"wires":[["d74dd9d7.3fc548","839436e1.b78d18"]]},{"id":"78d7d8e5.e875e8","type":"change","z":"8ccc64ca.8b4968","name":"Set to red","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":732.2220306396484,"y":515.9791669845581,"wires":[["d74dd9d7.3fc548","839436e1.b78d18"]]},{"id":"dacdcd78.068ad","type":"delay","z":"8ccc64ca.8b4968","name":"","pauseType":"rate","timeout":"12","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":346.0833511352539,"y":135.41667366027832,"wires":[["25bbfa64.390cc6","58025df4.d83054"]]},{"id":"58025df4.d83054","type":"debug","z":"8ccc64ca.8b4968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":626.5833854675293,"y":87.66667461395264,"wires":[]},{"id":"64c413cc.b2c05c","type":"comment","z":"8ccc64ca.8b4968","name":"※Set Google API key","info":"","x":492.83335876464844,"y":245.6666669845581,"wires":[]},{"id":"f9e346c5.b7d708","type":"ui_text_input","z":"8ccc64ca.8b4968","name":"for","label":"Search Term","tooltip":"","group":"7fd3e930.8096a8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"for","x":85.62500190734863,"y":43.75,"wires":[["b88599be.b428b8","d6297af1.36ad18"]]},{"id":"b88599be.b428b8","type":"twitter in","z":"8ccc64ca.8b4968","twitter":"ca6489c5.386578","tags":"京アニ","user":"false","name":"","inputs":1,"x":138.75,"y":106.25000190734863,"wires":[["dacdcd78.068ad"]]},{"id":"d6297af1.36ad18","type":"ui_template","z":"8ccc64ca.8b4968","group":"7fd3e930.8096a8","name":"","order":1,"width":0,"height":0,"format":"<html>\n<head>\n<title>Information integration</title>\n</head>\n<body>\n<iframe width=\"640\" height=\"380\" src=\"https://futureforcast-ai002.mybluemix.net/worldmap/\" scrolling=\"auto\"></iframe>\n<input type=\"button\" value=\"Smart Map\" onClick=\"window.open('https://futureforcast-ai002.mybluemix.net/worldmap/')\">\n<input type=\"button\" value=\"Data analysis\" onClick=\"window.open('https://futureforcast-ai002.mybluemix.net/twittersentiments')\">\n<input type=\"button\" value=\"Google crisismap\" onClick=\"window.open('https://google.org/crisismap/weather_and_events')\">\n<input type=\"button\" value=\"FEMA\" onClick=\"window.open('https://www.fema.gov/national-incident-management-system')\">\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":328.12500762939453,"y":73.75000095367432,"wires":[["58025df4.d83054"]]},{"id":"37559eac.f36662","type":"comment","z":"8ccc64ca.8b4968","name":"※Set URL mast be shared","info":"","x":358.12500762939453,"y":31.25,"wires":[]},{"id":"b3ce6d06.5054e","type":"http in","z":"e34f53fd.bd0cf","name":"callcenter","url":"/callcenter","method":"post","upload":false,"swaggerDoc":"","x":90.5,"y":69,"wires":[["488e720.2581e9"]]},{"id":"488e720.2581e9","type":"function","z":"e34f53fd.bd0cf","name":"RecordingUrl","func":"msg.payload = msg.payload.RecordingUrl; \nreturn msg;","outputs":1,"noerr":0,"x":223.5,"y":115,"wires":[["15bb7746.e59279"]]},{"id":"15bb7746.e59279","type":"watson-speech-to-text","z":"e34f53fd.bd0cf","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"","langhidden":"","langcustom":"","langcustomhidden":"","custom-weight":"0.5","band":"","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":338.5,"y":198,"wires":[["b2a424.01c71be","26673995.2da176"]]},{"id":"b2a424.01c71be","type":"debug","z":"e34f53fd.bd0cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":575.5,"y":196,"wires":[]},{"id":"ecffeff3.ff6c3","type":"debug","z":"e34f53fd.bd0cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":536.5,"y":268,"wires":[]},{"id":"26673995.2da176","type":"function","z":"e34f53fd.bd0cf","name":"Classification","func":"var transcript = msg.transcription;\n var category, num; \nif(transcript.indexOf(\"rescue\") != -1){\n category = \"How about rescue\";\n num = 1;\n } else if (transcript.indexOf(\"Shelter\") != -1){\n category = \"How about Shelter\";\n num = 2;\n } else { category = \"Unknown\";\n num = 3;\n } msg.payload = {\"category\": category, \"num\": num};\n return msg;","outputs":1,"noerr":0,"x":340.5,"y":292,"wires":[["ecffeff3.ff6c3","a981aec6.88ba1","4b07ce9e.c3406"]]},{"id":"a981aec6.88ba1","type":"switch","z":"e34f53fd.bd0cf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":118.5,"y":557,"wires":[["6a15a8ae.317678"],["9559de35.e8c39"],["3ff9fd82.2bef42"]]},{"id":"9559de35.e8c39","type":"template","z":"e34f53fd.bd0cf","name":"How about Shelter","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<Response>\n    <Say voice=\"woman\" language=\"en-US\">Shelter is City Hall</Say>\n</Response>","output":"str","x":430.75000762939453,"y":552.2500076293945,"wires":[["4f7f05d1.bcd91c","5166263a.16d258"]]},{"id":"6a15a8ae.317678","type":"template","z":"e34f53fd.bd0cf","name":"How about rescue","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<Response>\n    <Say voice=\"woman\" language=\"en-US\">Help now</Say>\n</Response>","output":"str","x":450.25000762939453,"y":409.5000057220459,"wires":[["4f7f05d1.bcd91c","e7180ab3.0af598"]]},{"id":"3ff9fd82.2bef42","type":"template","z":"e34f53fd.bd0cf","name":"Unknown=rescue","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<Response>\n    <Say voice=\"woman\" language=\"en-US\">please cool down. we will help you</Say>\n</Response>","output":"str","x":441.5,"y":640.2500085830688,"wires":[["4f7f05d1.bcd91c","5d242a4.41eebd4"]]},{"id":"9800879c.41f008","type":"debug","z":"e34f53fd.bd0cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":844.1785850524902,"y":492.53572273254395,"wires":[]},{"id":"4f7f05d1.bcd91c","type":"http request","z":"e34f53fd.bd0cf","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://jp.twilio.com/console/voice/recordings/recording-logs","tls":"","proxy":"","authType":"basic","x":673.2142944335938,"y":496.21431589126587,"wires":[["9800879c.41f008"]]},{"id":"892264bd.31f848","type":"comment","z":"e34f53fd.bd0cf","name":"1.SMS Twilio Account SID/AuthToken","info":"","x":741.2143096923828,"y":355.2857036590576,"wires":[]},{"id":"374337e3.0527c8","type":"comment","z":"e34f53fd.bd0cf","name":"※IBM wtson speech text","info":"","x":435.4642791748047,"y":151.28570747375488,"wires":[]},{"id":"e7180ab3.0af598","type":"twilio out","z":"e34f53fd.bd0cf","service":"_ext_","twilio":"38d3cad5.4ab6b6","from":"","number":"","name":"for  rescue","x":657.7857398986816,"y":398.428560256958,"wires":[]},{"id":"5a27e056.707d4","type":"twitter in","z":"15f92fa2.4c463","twitter":"","tags":"#Logistics #AI #Analyze","user":"false","name":"Get tweets","inputs":1,"x":311.25000381469727,"y":48.75,"wires":[["704ecd9b.ae8354"]]},{"id":"5a8d88cb.c916a8","type":"change","z":"15f92fa2.4c463","name":"URL to msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.entities.media[0].media_url_https","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":156,"y":196,"wires":[["a43e0ae0.404468"]]},{"id":"704ecd9b.ae8354","type":"switch","z":"15f92fa2.4c463","name":"Tweet with image only filter","property":"tweet.entities.media","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":169,"y":120,"wires":[["5a8d88cb.c916a8"]]},{"id":"5d947699.d6c198","type":"twitter out","z":"15f92fa2.4c463","twitter":"ca6489c5.386578","name":"Tweet sentence send","x":696,"y":291,"wires":[]},{"id":"b4291f34.333c7","type":"template","z":"15f92fa2.4c463","name":"Tweet sentence creation","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"AI Logistics decision\njudgment result:#{{payload.class}}\nJudgment score:#{{payload.score}}\n#Logistics #AI #Analyze #Analyzed\nhttps://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}} ","output":"str","x":452,"y":395,"wires":[["5d947699.d6c198","2ac82c87.388c24"]]},{"id":"7fe5312d.3073b","type":"debug","z":"15f92fa2.4c463","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":465,"wires":[]},{"id":"a43e0ae0.404468","type":"function","z":"15f92fa2.4c463","name":"Custom ID","func":"msg.params = {};\nmsg.params.classifier_ids = \"DefaultCustomModel_28743749\";\nmsg.params.threshold = \"0.2\";\nreturn msg;","outputs":1,"noerr":0,"x":188,"y":298,"wires":[["359137dd.5f3298"]]},{"id":"359137dd.5f3298","type":"visual-recognition-v3","z":"15f92fa2.4c463","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"ja","x":395,"y":304,"wires":[["5c68859c.3377fc"]]},{"id":"5c68859c.3377fc","type":"function","z":"15f92fa2.4c463","name":"","func":"var result = msg[\"result\"];\nmsg.payload = [];\nif (\"images\" in result && result.images.length > 0){\n    image = result.images[0]\n    if (\"classifiers\" in image && image.classifiers.length > 0){\n        classifier = image.classifiers[0]\n        if (\"classes\" in classifier && classifier[\"classes\"].length > 0){\n            msg.payload = classifier[\"classes\"][0]\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":156,"y":372,"wires":[["b4291f34.333c7","7fe5312d.3073b"]]},{"id":"2ac82c87.388c24","type":"debug","z":"15f92fa2.4c463","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":671,"y":429,"wires":[]},{"id":"4bfedc7b.709d94","type":"delay","z":"15f92fa2.4c463","name":"twitter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":91.75,"y":37,"wires":[["5a27e056.707d4"]]},{"id":"3fb0a2bd.cd14ee","type":"comment","z":"15f92fa2.4c463","name":"ISO9000 Judgment","info":"","x":355.5,"y":260.2857151031494,"wires":[]},{"id":"5166263a.16d258","type":"e-mail","z":"e34f53fd.bd0cf","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"open.socio.yamaguchi.a@gmail.com","dname":"","x":753.2321548461914,"y":610.3928375244141,"wires":[]},{"id":"9f895455.43bd38","type":"comment","z":"e34f53fd.bd0cf","name":"2.e-mail Set your e-mail","info":"","x":699.0178680419922,"y":569.3214101791382,"wires":[]},{"id":"d1ff667c.dac218","type":"inject","z":"e34f53fd.bd0cf","name":"","topic":"","payload":" Akihabara, Chiyoda-ku, Tokyo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":741.25,"wires":[["5d242a4.41eebd4"]]},{"id":"786494a0.1facfc","type":"function","z":"e34f53fd.bd0cf","name":"Latitude and longitude Get","func":"// Converted to JSON as API response \nvar response = JSON.parse(msg.payload);\n\nmsg.payload = {\n    latitude: response.location.latitude[0],\n    longitude: response.location.longitude[0],\n    place: response.location.place[0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":624.9999732971191,"y":868.3928689956665,"wires":[["7d116949.aada58","ebf6d845.b7fb08"]]},{"id":"6aeaaf5c.5a19a","type":"comment","z":"e34f53fd.bd0cf","name":"※Set your city","info":"","x":158.125,"y":700,"wires":[]},{"id":"7d116949.aada58","type":"template","z":"e34f53fd.bd0cf","name":"Forced set","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"lat\": \"{{location.lat}}\", \n    \"lon\": \"{{location.lon}}\",\n    \"place\": \"{{location.place}}\", \n    \"messege\": \"Emergency\", \n    \"name\": \"unnown\", \n    \"icon\": \"globe\",\n    \"iconColor\": \"red\"\n}","output":"json","x":839.6428451538086,"y":931.2499837875366,"wires":[["aa57d39.7a6973"]]},{"id":"ebf6d845.b7fb08","type":"template","z":"e34f53fd.bd0cf","name":"Move and zoom","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"command\": {\n        \"layer\": \"Esri Terrain\",\n        \"lat\": \"{{location.lat}}\", \n        \"lon\": \"{{location.lon}}\",\n        \"zoom\": \"3\"\n\n    }\n}","output":"json","x":846.7857284545898,"y":980.9642429351807,"wires":[["aa57d39.7a6973"]]},{"id":"f718c81d.4135a8","type":"comment","z":"e34f53fd.bd0cf","name":"3.set map Force zoom for an emergency situation","info":"","x":756.8750305175781,"y":748.3928709030151,"wires":[]},{"id":"f6eeec89.c8fcf","type":"comment","z":"e34f53fd.bd0cf","name":"Set red icon","info":"","x":873.8392944335938,"y":880.1785831451416,"wires":[]},{"id":"5d242a4.41eebd4","type":"http request","z":"e34f53fd.bd0cf","name":"Convert to longitude and latitude（with Google API）","method":"GET","ret":"obj","paytoqs":false,"url":"https://maps.googleapis.com/maps/api/geocode/json?address={{payload}}&sensor=false","tls":"","proxy":"","authType":"","x":766.7857055664062,"y":792.857120513916,"wires":[["786494a0.1facfc"]]},{"id":"40cf03fa.ea83ec","type":"comment","z":"8ccc64ca.8b4968","name":"output in data","info":"","x":714.9999999999999,"y":304.2857142857143,"wires":[]},{"id":"4f878cc1.9f68b4","type":"comment","z":"e34f53fd.bd0cf","name":"Judgment whether can understand or not","info":"","x":187.85714285714283,"y":355.71428571428567,"wires":[]},{"id":"8f3ab230.b592f","type":"cloudant out","z":"8ccc64ca.8b4968","name":"","cloudant":"","database":"timestamp","service":"Futureforcast-AI002-cloudantNoSQLDB","payonly":false,"operation":"insert","x":723.5714285714286,"y":365.71428571428567,"wires":[]},{"id":"4b07ce9e.c3406","type":"cloudant out","z":"e34f53fd.bd0cf","name":"","cloudant":"","database":"timestamp","service":"Futureforcast-AI002-cloudantNoSQLDB","payonly":false,"operation":"insert","x":784.9999999999999,"y":295.71428571428567,"wires":[]},{"id":"d74dd9d7.3fc548","type":"worldmap","z":"8ccc64ca.8b4968","name":"","lat":"35.700361","lon":"139.774005","zoom":"17","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","path":"","x":1039.694320678711,"y":487.92368602752686,"wires":[]},{"id":"aa57d39.7a6973","type":"worldmap","z":"e34f53fd.bd0cf","name":"","x":984.6786003112793,"y":1038.3928756713867,"wires":[]}]